<footer class="p-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2 text-white">A propos</h2>
            <p class="text-secondary" >Passionnné par le dévelloppement informatique, je suis déterminé à créer des solutions innovanntes et à apporter une valeur ajoutée à chaque projet.</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5 d-flex gap-3">
              <li class="ftco-animate"><a href="#"><i class="fa-brands fa-whatsapp fa-2x p-3 rounded-circle bg-secondary text-warning" data-aos="fade-up" data-aos-duration="2000" ></i></span></a></li>
              <li class="ftco-animate"><a href="#"><i class="fa-brands fa-facebook fa-2x p-3 rounded-circle bg-secondary text-warning " data-aos="fade-up" data-aos-duration="2500"></i></span></a></li>
              <li class="ftco-animate"><a href="#"><i class="fa-brands fa-instagram fa-2x p-3 rounded-circle bg-secondary text-warning" data-aos="fade-up" data-aos-duration="3000"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2 text-white">Liens</h2>
            <ul class="list-unstyled">
              <li><a href="#homePage" class="link-secondary text-decoration-none" ><span class="icon-long-arrow-right mr-2"></span>Accueil</a></li>
              <li><a href="#aboutPage" class="link-secondary text-decoration-none" ><span class="icon-long-arrow-right mr-2"></span>A propos</a></li>
              <li><a href="#servicePage" class="link-secondary text-decoration-none" ><span class="icon-long-arrow-right mr-2"></span>Services</a></li>
              <li><a href="#skillPage" class="link-secondary text-decoration-none" ><span class="icon-long-arrow-right mr-2"></span>Competences</a></li>
              <li><a href="#contactPage" class="link-secondary text-decoration-none" ><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2 text-white">Services</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="link-secondary text-decoration-none" ><span class="icon-long-arrow-right mr-2"></span>Logiciel Desktop</a></li>
              <li><a href="#" class="link-secondary text-decoration-none" ><span class="icon-long-arrow-right mr-2"></span>Site Web</a></li>
              <li><a href="#" class="link-secondary text-decoration-none" ><span class="icon-long-arrow-right mr-2"></span>Aplication Mobile</a></li>
              <li><a href="#" class="link-secondary text-decoration-none" ><span class="icon-long-arrow-right mr-2"></span>Intelligence Artificiel</a></li>
              <li><a href="#" class="link-secondary text-decoration-none" ><span class="icon-long-arrow-right mr-2"></span>Deep learning</a></li>
              <li><a href="#" class="link-secondary text-decoration-none" ><span class="icon-long-arrow-right mr-2"></span>Modélisation statistique</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2 text-white">Des questions ?</h2>
              <div class="block-23 mb-3">
                <ul class="list-unstyled">
                  <li><i class="fa-solid fa-location-dot text-white p-3"></i><span class="text text-secondary">Antananarivo , LOT II N 57 TER US Analamahistsy</span></li>
                  <li><a href="#" class="link-secondary text-decoration-none" ><i class="fa-solid fa-phone p-3 text-white"></i><span class="text">034 40 208 92</span></a></li>
                  <li><a href="#" class="link-secondary text-decoration-none" ><i class="fa-solid fa-envelope p-3 text-white"></i><span class="text">Keveen@gmail.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by <a href="https://colorlib.com" target="_blank">Keveen</a>
</p>
        </div>
      </div>
    </div>
  </footer>