{% load static %}
<header>
	<nav class="navbar navbar navbar-expand-md  navbar-dark bg-black">
        <div class="container">
            <h1 class="navbar-brand text-white fs-1 fw-bold" href="#">Portfolio</h1>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
				<ul class="navbar-nav ms-auto mb-2 mb-md-0">
				  <li class="nav-item"><a href="#homePage" class="nav-link"><span>Accueil</span></a></li>
				  <li class="nav-item"><a href="#aboutPage" class="nav-link"><span>A propos</span></a></li>
				  <li class="nav-item"><a href="#parcourPage" class="nav-link"><span>Parcours</span></a></li>
				  <li class="nav-item"><a href="#servicePage" class="nav-link"><span>Services</span></a></li>
				  <li class="nav-item"><a href="#skillPage" class="nav-link"><span>Competences</span></a></li>
				  <li class="nav-item"><a href="#outilPage" class="nav-link"><span>Outils</span></a></li>
				  <li class="nav-item"><a href="#projectPage" class="nav-link"><span>Projets</span></a></li>
				  <li class="nav-item"><a href="#contactPage" class="nav-link"><span>Contact</span></a></li>
				</ul>
			  </div>
        </div>
    </nav>
</header>